body {
    background: url("../images/FreeVector-Mayan-Pyramid-Vector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.img-responsive {
    max-height: 120px;
    max-width: auto;
}

body {
    font-size: 16px !important;
}

form {
    color: #2a363b;
    text-transform: uppercase;
}

form .btn-primary {
    background-color: #e84a5f;
    border: #e84a5f;
    text-transform: uppercase;

}

form .btn-primary:hover,
form .btn-primary:focus,
form .btn-primary:active {
    background-color: #e2374d !important;
    outline: none !important;
    box-shadow: none !important;
}

form .form-control[readonly] {
    background-color: white;
}

form .form-control:focus {
    outline: none;
    border-color: #e2374d;
    -moz-box-shadow: 0 0 4px #e84a5f !important;
    box-shadow: 0 0 4px #e84a5f !important;
}

.bg-dark {
    background-color: #2a363b !important;
}

.card {
    -moz-box-shadow: 0 0 12px #2a363b !important;
    box-shadow: 0 0 12px #2a363b !important;
}