<div class="row mt-2">

    <div class="col">
        <div class="row">
            <div class="col mr-0 pr-0">
                <img src="static/images/number-{{ maya_date.long_count[0] }}.png" class="img-responsive float-right">
            </div>
            <div class="col ml-0 pl-0">
                <img src="static/images/BAKTUN.png" class="img-responsive float-left">
            </div>
        </div>
    </div>

    <div class="col">
        <div class="row">
            <div class="col mr-0 pr-0">
                <img src="static/images/number-{{ maya_date.long_count[1] }}.png" class="img-responsive float-right">
            </div>
            <div class="col ml-0 pl-0">
                <img src="static/images/KATUN.png" class="img-responsive float-left">
            </div>
        </div>
    </div>

</div>

<div class="row mt-2">

    <div class="col">
        <div class="row">
            <div class="col mr-0 pr-0">
                <img src="static/images/number-{{ maya_date.long_count[2] }}.png" class="img-responsive float-right">
            </div>
            <div class="col ml-0 pl-0">
                <img src="static/images/TUN.png" class="img-responsive float-left">
            </div>
        </div>
    </div>

    <div class="col">
        <div class="row">
            <div class="col mr-0 pr-0">
                <img src="static/images/number-{{ maya_date.long_count[3] }}.png" class="img-responsive float-right">
            </div>
            <div class="col ml-0 pl-0">
                <img src="static/images/UINAL.png" class="img-responsive float-left">
            </div>
        </div>
    </div>

</div>

<div class="row mt-2">

    <div class="col">
        <div class="row">
            <div class="col mr-0 pr-0">
                <img src="static/images/number-{{ maya_date.long_count[4] }}.png" class="img-responsive float-right">
            </div>
            <div class="col ml-0 pl-0">
                <img src="static/images/KIN.png" class="img-responsive float-left">
            </div>
        </div>
    </div>

    <div class="col">
        <div class="row">
            <div class="col mr-0 pr-0">
                <img src="static/images/number-{{ maya_date.tzolkin[0] }}.png" class="img-responsive float-right">
            </div>
            <div class="col ml-0 pl-0">
                <img src="static/images/{{ maya_date.tzolkin[1] }}.png" class="img-responsive float-left">
            </div>
        </div>
    </div>

</div>

<div class="row mt-2 mb-2">

    <div class="col">
        <div class="row">
            <div class="col ml-0 pl-0">
                <img src="static/images/{{ maya_date.lord_of_night }}.png" class="img-responsive float-right">
            </div>
        </div>
    </div>

    <div class="col">
        <div class="row">
            <div class="col mr-0 pr-0">
                <img {% if maya_date.haab[0] == 0 %} src="static/images/chum.png" {% else %} src="static/images/number-{{ maya_date.haab[0] }}.png" {% endif %} class="img-responsive float-right">
            </div>
            <div class="col ml-0 pl-0">
                <img src="static/images/{{ maya_date.haab[1] }}.png" class="img-responsive float-left">
            </div>
        </div>
    </div>

</div>
